@font-face {
  font-family: "GreatVibes";
  src: url("./fonts/GreatVibes-Regular.ttf");
}

@font-face {
  font-family: "Playfair";
  src: url("./fonts/PlayfairDisplay-Regular.ttf");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Playfair", serif;
  color: #5a1f1f;
  background: #fff;
}

/* HORIZONTAL PAGE */
.page {
  min-width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
  flex-shrink: 0;
}

.page-inner {
  max-width: 430px;     /* ukuran HP */
  height: 100%;
  margin: 0 auto;
  position: relative;
  background: #fff;
}



/* COVER */
.cover {
  overflow: hidden;
}

/* FRAME ATAS & BAWAH */
.frame-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20vh;
  object-fit: cover;
  z-index: 3;
}

.frame-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 22vh;
  object-fit: cover;
  z-index: 3;
}

/* ORNAMENT */
.ornament {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 2;
}

.ornament.top {
  top: 7vh; /* naik ke atas */
  z-index: 4; /* pastikan di atas frame */
  pointer-events: none;
}
.ornament.mid {
  bottom: 32vh;
  width: 85%;                /* supaya tidak nempel kiri kanan */
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
  pointer-events: none;
}

/* CONTENT */
.content {
  position: relative;
  z-index: 4;
  text-align: center;
  padding: 32vh 20px 26vh;
}

.subtitle {
  font-size: 14px;
  letter-spacing: 2px;
}

.ring {
  width: 18px;
  vertical-align: middle;
}

.names {
  font-family: "GreatVibes", cursive;
  font-size: 40px;
  margin: 14px 0;
  transform: translateY(-20px);
}

/* PHOTO FRAME */
.photo-wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
  transform: translateY(-20px);
}

.photo-frame {
  position: relative;
  width: 140px;
  height: 140px;
}

.photo-frame .frame {
  position: absolute;
  inset: 0;
  width: 100%;
  z-index: 2;
}

.photo-frame .photo {
  position: absolute;
  width: 105px;
  height: 105px;
  top: 18px;
  left: 18px;
  border-radius: 50%;
  object-fit: cover;
  z-index: 1;
}

.date {
  font-size: 16px;
}

.tagline {
  font-family: "GreatVibes", cursive;
  font-size: 20px;
}

/* NEXT BUTTON */
.next-btn {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 32px;
  text-decoration: none;
  color: #5a1f1f;
  z-index: 5;
  opacity: 0.6;
}

.next-btn:hover {
  opacity: 1;
}

/* PAGE 2 DUMMY */
#page2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 480px) {
  .names {
    font-size: 34px;
  }
}
